@()(implicit requestHeader: RequestHeader, flash: Flash)
<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/forgotPasswordStyles.css")'/>
@main("Request password reset") {
    <form method= "post" action="@routes.UserController.requestPasswordReset">
        @helper.CSRF.formField
        <div class="main-wrapper" id="main-wrapper">
            <div class="email-detail" id="email-detail">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
            </div>
            <div class="send-button-grid" id="send-button-grid">
                <a href="@routes.HomeController.loginPage"><img src="@routes.Assets.versioned("images/goBackIcon.png")" title="Go Back"></a>
                <input type="image" src="@routes.Assets.versioned("images/mailIcon.png")" alt = "Send" title="Send">
            </div>
        </div>
        <div class="error-msg-grid">
            <span style="color: red">@flash.get("error")</span>
        </div>
    </form>
}