@()(implicit requestHeader: RequestHeader, flash: Flash)

@main("Request password reset") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'/>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/forgotPasswordStyles.css")'/>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/timeoutMessage.js")"></script>

    @if(flash.get("message").isEmpty == false){
        <div class="alert alert-success alert-dismissible" role="alert" auto-close="4000">
            <button type="button" class="close" style="float: right;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            @for(message <- flash.get("message").get.split(',')) {
                @message
                <br>
                }
        </div>
    }

    <form method= "post" action="@routes.UserController.requestPasswordReset">
        @helper.CSRF.formField
        <div class="main-wrapper" id="main-wrapper">
            <div class="email-detail" id="email-detail">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
            </div>
            <div class="send-button-grid" id="send-button-grid">
                <a href="@routes.HomeController.loginPage"><img src="@routes.Assets.versioned("images/goBackIcon.png")" title="Go Back"></a>
                <input type="image" src="@routes.Assets.versioned("images/mailIcon.png")" alt = "Send" title="Send">
            </div>
        </div>
    </form>
}