@(costs: Seq[Tables#UserCostsRow])

@main("Home page") {
    <h1>Your detailed costs</h1>

    <div class="user-cost-details">
    @{
        if(costs.nonEmpty){
            <table>
                <tr>
                    <th>Name</th>
                    <th>Purchase Date</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>


            {for(cost <- costs)
                <tr>
                    <td>@{cost.name}</td>
                    <td>@{cost.purchaseDate.toString}</td>
                    <td>@{cost.category}</td>
                    <td>@{cost.costPrice.toString}</td>
                </tr>
            }
            </table>

        }
        else{
            <div>No details to display :(</div>
        }
    }
    </div>





    <form action="@routes.UserController.logout">
        <input type="submit" value="Logout">
    </form>
}
