@import java.time.format.DateTimeFormatter

@import models.Tables.UserItemCostsRow
@(userItemCosts: Seq[Tables#UserItemCostsRow])(implicit request: RequestHeader, flash: Flash)

@main("Home page") {
    <h1 class="text-center">Your detailed costs</h1>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'/>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/indexStyles.css")'/>

    @if(flash.get("message").isEmpty == false){
    <div class="alert alert-success alert-dismissible" role="alert" auto-close="4000">
        <button type="button" class="close" style="float: right;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        @for(message <- flash.get("message").get.split(',')) {
            @message
            <br>
        }

    </div>
    }

    <div class="user-cost-details">
        @if(userItemCosts.nonEmpty){
            <div class="scrollDiv">
                <table class="table table-hover table-borderless">
                    <thead>
                        <th>Item Name</th>
                        <th>Purchase Date</th>
                        <th>Category</th>
                        <th>Item Price (Total: @{userItemCosts.foldLeft(BigDecimal(0))((total: BigDecimal, userItemCost: Tables#UserItemCostsRow) => total + userItemCost.itemPrice)})</th>
                    </thead>

                @for(itemCost <- userItemCosts){
                    <tr id="@itemCost.itemId" data-is-editable="false">
                        <td>@{itemCost.itemName}</td>

                        <td>
                            <!-- // Purchase date is optional in case user doesn't remember it -->
                            @if(itemCost.purchaseDate.nonEmpty) {
                                @{itemCost.purchaseDate.get.toLocalDateTime.format(DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm"))}
                            }else {
                                Missing
                            }
                        </td>
                        <td>@{itemCost.category}</td>
                        <td>@{itemCost.itemPrice.toString}</td>

                        <td>
                            <form method="post" action="@routes.CostsController.editItemCost()" onsubmit="enableEdit(event, @itemCost.itemId, [@Categories.values.unsorted.map(value => "\"" + value + "\"").mkString(",")])">
                                @helper.CSRF.formField
                                <input type="image" src="@routes.Assets.versioned("images/editIcon.png")" alt="Edit Cost" title="Edit Cost">
                            </form>
                        </td>

                        <td>
                            <form method="post" action="@routes.CostsController.deleteItemCost()">
                                @helper.CSRF.formField
                                <input type="image" src="@routes.Assets.versioned("images/deleteIcon.png")" alt="Delete Cost" title="Delete Cost">
                                <input type="hidden" name="deleteItem" value="@{itemCost.itemId}">
                            </form>
                        </td>
                    </tr>
                }
                </table>
            </div>
        } else{
            <div>No details to display :(</div>
        }
    </div>

    <div class="buttons-grid" id="footer">
        <a href="@routes.CostsController.addItemCostPage()"><img src="@routes.Assets.versioned("images/AddIcon.png")" title="Add New Cost"></a>
        <form action="@routes.UserController.logout">
            <input type="image" src="@routes.Assets.versioned("images/logoutIcon.png")" alt="Logout" title="Logout">
        </form>
    </div>

    <script src="@routes.Assets.versioned("javascripts/index.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/timeoutMessage.js")"></script>
}