@()(implicit request: RequestHeader, flash: Flash)

@main("Login page") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'/>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/loginStyles.css")'/>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/timeoutMessage.js")"></script>

    @if(flash.get("error").isEmpty == false){
        <div class="alert alert-success alert-dismissible" role="alert" auto-close="4000">
            <button type="button" class="close" style="float: right;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            @for(message <- flash.get("error").get.split(',')) {
                @message
                <br>
                }
        </div>
    }

    <form method= "post" action="@routes.UserController.validateUser">
        @helper.CSRF.formField
        <div class="main-wrapper">
            <div class="login-grid">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="login-buttons-grid">
                <a href="@routes.HomeController.registerPage"><img src="@routes.Assets.versioned("images/registerIcon.png")" title="Register"></a>
                <input type="image" src="@routes.Assets.versioned("images/loginIcon.png")" alt="Login" title="Login">
                <a href="@routes.UserController.forgotPasswordPage"><img src="@routes.Assets.versioned("images/forgetPasswordIcon.png")" title="Forgot Password"></a>
            </div>
        </div>
    </form>
}