@()(implicit request: RequestHeader, flash: Flash)
<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/loginStyles.css")'/>
@main("Login page") {
    <form method= "post" action="@routes.UserController.validateUser">
        @helper.CSRF.formField
        <div class="main-wrapper">
            <div class="login-grid">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="login-buttons-grid">
                <a href="@routes.HomeController.registerPage"><img src="@routes.Assets.versioned("images/registerIcon.png")" title="Register"></a>
                <input type="image" src="@routes.Assets.versioned("images/loginIcon.png")" alt="Login" title="Login">
                <a href="@routes.UserController.forgotPasswordPage"><img src="@routes.Assets.versioned("images/forgetPasswordIcon.png")" title="Forgot Password"></a>
            </div>
            <div class="error-msg-grid">
                <span style="color: red">@flash.get("error")</span>
            </div>
        </div>
    </form>
}