@(passwordResetToken: String)(implicit requestHeader: RequestHeader, flash: Flash)

@main("Reset password") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'/>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/resetPasswordStyles.css")'/>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/timeoutMessage.js")"></script>

    @if(flash.get("error").isEmpty == false){
        <div class="alert alert-success alert-dismissible" role="alert" auto-close="4000">
            <button type="button" class="close" style="float: right;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            @for(message <- flash.get("error").get.split(',')) {
                @message
                <br>
                }
        </div>
    }

    <form method= "post" action="@routes.UserController.resetPassword">
        @helper.CSRF.formField
        <input type="hidden" name="passwordResetToken" value="@passwordResetToken">
        <div class="main-wrapper" id="main-wrapper">
            <div class="new-password-details" id="new-password-details">
                <label for="newPassword">New password: </label>
                <input type="password" name="newPassword" id="newPassword">
                <label for="confirmPassword">Confirm password: </label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <div class="save-button-grid" id="save-button-grid">
                <a href="@routes.HomeController.loginPage"><img src="@routes.Assets.versioned("images/goBackIcon.png")" title="Go Back"></a>
                <input type="image" src="@routes.Assets.versioned("images/saveIcon.png")" alt="Save" title="Save">
            </div>
        </div>
    </form>
}