@(passwordResetToken: String)(implicit requestHeader: RequestHeader, flash: Flash)

@main("Reset password") {
    <form method= "post" action="@routes.UserController.resetPassword">
        @helper.CSRF.formField
        <input type="hidden" name="passwordResetToken" value="@passwordResetToken">
        <label for="newPassword">New password: </label>
        <input type="password" name="newPassword" id="newPassword" required>
        <br>
        <label for="confirmPassword">Confirm password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>
        <br>
        <input type="submit" value="Request password reset">
    </form>

    <div><span>@flash.get("message")</span></div>
}
