@(passwordResetToken: String)(implicit requestHeader: RequestHeader, flash: Flash)
<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/resetPasswordStyles.css")'/>
@main("Reset password") {
    <form method= "post" action="@routes.UserController.resetPassword">
        @helper.CSRF.formField
        <input type="hidden" name="passwordResetToken" value="@passwordResetToken">
        <div class="main-wrapper" id="main-wrapper">
            <div class="new-password-details" id="new-password-details">
                <label for="newPassword">New password: </label>
                <input type="password" name="newPassword" id="newPassword" required>
                <label for="confirmPassword">Confirm password: </label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
            </div>
            <div class="save-button-grid" id="save-button-grid">
                <a href="@routes.HomeController.loginPage"><img src="@routes.Assets.versioned("images/goBackIcon.png")" title="Go Back"></a>
                <input type="image" src="@routes.Assets.versioned("images/saveIcon.png")" alt="Save" title="Save">
            </div>
        </div>
        <div class="msg-grid">
            <span style="color: red">@flash.get("error")</span>
        </div>
    </form>
}