@()(implicit request: RequestHeader, flash: Flash)

@main("Register page") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'/>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/registerStyles.css")'/>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/timeoutMessage.js")"></script>

    @if(flash.get("error").isEmpty == false){
        <div class="alert alert-success alert-dismissible" role="alert" auto-close="4000">
            <button type="button" class="close" style="float: right;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            @for(message <- flash.get("error").get.split(',')) {
                @message
                <br>
                }
        </div>
    }

    <form method= "post" action="@routes.UserController.createUser">
        @helper.CSRF.formField
        <div class="main-wrapper" id="main-wrapper">
            <div class="new-user-details" id="new-user-details">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="register-button-grid" id="register-button-grid">
                <a href="@routes.HomeController.loginPage"><img src="@routes.Assets.versioned("images/goBackIcon.png")" title="Go Back"></a>
                <input type="image" src="@routes.Assets.versioned("images/saveIcon.png")" alt="Register" title="Register">
            </div>
        </div>
    </form>
}